.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
}
#box1{
    
    grid-column: 1/5;
    text-align: center;
    color: white;
}
#box2{

    grid-column: 1/5;
    grid-row: 5/6;
    text-align: center;
    color: white;
}
#box3{
    
    grid-column: 1/5;
    grid-row: 2;
    text-align: center;
    color: white;

}
body{
    background-color: black;
}